body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 15fr;
    background-color: darkgray;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
    grid-template-areas: 
                            'topBar'
                            'libraryContainer';
}

#topBar {
    grid-area: topBar;
    background-color: darkolivegreen;
    display: grid;
    grid-template-columns: 7fr 1fr;
}

#libraryContainer {
    grid-area: libraryContainer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.book {
    background-color: darkslategray;
    color: white;
    font-size: 1.5rem;
    max-width: 70ch;
    padding: 10px;
    margin: 5px;
    border-radius: 7px;
    height: 25%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.book > * {
    padding: 10px;
}

#title {
    color: white;
    font-size: 2rem;
    padding: 10px;
    font-weight: bold;
}

#addBook {
    margin: 10px;
    background-color: darkolivegreen;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
}

#addBook:hover {
    background-color: darkslategray;
}

#BookEntry {
    border: none;
    border-radius: 7px;
    display: flex;
    flex-flow: row wrap;
}

h2 {
    width: 75%;
    color: white;
    margin-top: 12.5px;
}

#closeForm {
    width: 25%;
    text-align: right;
    font-size: 2em;
    margin-top: 0;
    color: white;
}

#bookInformation {
    width: 87.5%;
    height: 10vh;
    border-radius: 7px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

dialog {
    padding-right: 5px;
    padding-top: 0;
    width: 25%;
    background-color: darkolivegreen;
}

dialog::backdrop {
    opacity: 0.5;
    background-color: black;
}